*.env
specs.md
venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
app.log
training/llm/venv_llm/
training/llm/output/
model.safetensors
training/sentence_transformer/venv_triplet/
training/sentence_transformer/output/